<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/upload/fileValidate" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="file" name="file" id="file" required>
                    <input class="btn btn-success btn-block" type="submit" value="Subir">
                </div>
                
            </form>
        </div>
    </div>
</div>